.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerComponent {
  background-color: #ffdeb4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 10vh;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
}

.headerComponent p {
  font-weight: 900;
}
